.idea/
IU-XRay/images
IU-XRay/reports
models/__pycache__/
__pycache__/
medical_word_embeddings/pubmed2018_w2v_400D.bin
output_captions/
train_output_captions/
test_output_captions/
.vs/
output_images/
*.tgz
*.zip
paper-checkpoint/
outputs/
ADC_data_processed/adc_images
ADC_data_processed/adc_images_sick/
ADC_data_processed/adc_images_healthy/
ADC_data_processed/adc_images_sick_dicom/
ADC_data_processed/adc_images_healthy_dicom/
ADC_data_processed/for refining/
*.rar
*.png
*.dcm
*.data-00000-of-00001
*.index
